# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Java project
bin/
out/

# Maven
target/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# Eclipse project file
.settings/
.classpath
.project